.container-create{
       width: 100vw;
       height: 100vh;
       background-image: url('https://images.pexels.com/photos/374870/pexels-photo-374870.jpeg?cs=srgb&dl=pexels-burst-374870.jpg&fm=jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;         
}
.container-create .header {
       display: flex;
       height: 3rem;
       justify-content: center;
       align-items: center;
}
.container-create .post-wrapper {
       margin-top: 1rem;
       position: relative;
}
.container-create .post-wrapper .post {
       background-color:#F9A826;
       height: 37rem;
        width: 44rem;
        border-radius: 1rem;
        padding: 2rem;
        position: fixed;
        left: 27%;
}
.container-create .header .title {
      font-size: 1.5rem;
      position: relative;
      font-weight: 500;
}
.container-create .header .btn-out {
       position: fixed;
       right: 6rem;
       top: 4rem;
}
.container-create .post-wrapper .post-header {
       display: flex;
       justify-content: space-between;
       font-size: large;
       font-weight: 500;     
}
.container-create .post-wrapper .post-header .user-ava {
       display: flex;
}
.container-create .post-wrapper .post-header .user-ava i {
       margin-right: 1rem;
       font-size: 2rem;
}
.container-create .post-wrapper .post-header .user-ava p {
       font-size: 1.15rem;
}
.container-create .post-wrapper #upload-file .up-photo {
       height: 3rem;
}
#create-post {
       position: relative;
}
#create-post input {
       outline: none;
}
#create-post .up-load input ,button {
       font-size: 1rem;
       border: none;
       outline: none;
}
.container-create .post-wrapper #create-post textarea {
       height: 8rem;
       width: 80%;
       resize: none;
       overflow: auto;
       font-size: 1rem;
       padding: 1rem;
       border: none;
       position: relative;
       left: 4rem;
       border-radius: 1rem;   
       outline: none; 
}
#create-post input {
  width: 60%;
}
.center {
       display: flex;
      justify-content: center;
      align-items: center;

}
.title-post{
       font-size: 1.5rem;
}
button {
       font-size: large;
       padding: 0.5rem;
       border-radius: 0.5rem;
}
button:hover {
       background-color:  rgb(179, 206, 223);
       transition: 0.3s;
}
.btn-upload{
       position: relative;
}
.btn-upload button {
       position: fixed;
       left: 70%;    
       bottom: 4rem;
}
#local {
       margin-left: 5.2rem;
}

