.container-create{
       width: 100vw;
       height: 100vh;
       background-image: url('https://images.pexels.com/photos/374870/pexels-photo-374870.jpeg?cs=srgb&dl=pexels-burst-374870.jpg&fm=jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;         
}
.container-create .header {
       background-color: white;
       display: flex;
       height: 4rem;
       justify-content: center;
       align-items: center;
}
.container-create .post-wrapper {
       margin-top: 1rem;
       position: relative;
}
.container-create .post-wrapper{
       margin-top: 2rem;
       background-color: #E0EAFC;
       height: 36.5rem;
       width: 44rem;
       border-radius: 1rem;
       padding: 2rem;
       position: fixed;
       left: 26%;
}
.container-create .post-wrapper #create-post{
       margin-top: 0.5rem;
       left: 5rem;
       height: 32rem;
       position: absolute;
       width: 35rem;
}
.container-create .header .title {
      font-size: 1.75rem;
      font-weight: 700;
}
.container-create .post-wrapper .post-header {
       color: rgb(7, 7, 6);
       display: flex;
       justify-content: space-between;
       font-size: large;
       font-weight: 600;     
}
.container-create .post-wrapper .post-header .user-ava {
       display: flex;
}
.container-create .post-wrapper .post-header .user-ava i {
       margin-right: 1rem;
       font-size: 2rem;
}
.container-create .post-wrapper .post-header .user-ava p {
       font-size: 1.15rem;
}
.container-create .post-wrapper #upload-file .up-photo {
       height: 3rem;
}
.container-create .post-wrapper #create-post textarea {
       height: 8rem;
       width: 27rem;
       resize: none;
       font-size: 1rem;
       padding: 1rem;
       border: none;
       border-radius: 1rem;   
       outline: none; 
       overflow: auto;
}
.container-create .post-wrapper .process {
       position: relative;
       display: flex;
       justify-content: space-between;
}
#create-post > div.process > div.up-load > label {
       position: absolute;
       top: 2rem;
       right: 0;
}
#create-post > div.process > div.up-load > i {
       font-size: 1.5rem;
       width: 3rem;
}
#create-post .local {
       display: flex;
       justify-content: space-between;
}
.title-post{
       font-size: 1.5rem;
}
.footer {
       margin-top: 2rem;
       display: flex;
       justify-content: space-between;
}
.footer button {
       background-color: #ffffff;
       color: black;
       padding: 1rem;
       border-radius: 0.5rem;
       font-weight: 600;
       font-size: 1.1rem;
       border: none;
       width: 5rem;
       border: 2px solid rgb(52, 145, 122);
}
.footer button:hover {
       transition: 0.2s;
       background-color:  rgb(52, 145, 122);
       color: white;
       border: 3px solid white;
}
input#file-input {
       display: none;
}
input#file-input + label {
       background-color: #ffffff;
       font-size: large;
       padding: 1rem;
       border-radius: 0.3rem;
       font-weight: bold;
       color: black;
       border: 2px solid rgb(52, 145, 122);
       
}
input#file-input + label:hover {
       transition: 0.2s;
       color: white;
       background-color:  rgb(52, 145, 122);
       border: 3px solid white;
}





