.container{
       width: 100vw;
       height: 100vh;
       background-image: url('https://images.pexels.com/photos/374870/pexels-photo-374870.jpeg?cs=srgb&dl=pexels-burst-374870.jpg&fm=jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;         
}
.container .header-container {
       display: flex;
       height: 5rem;
       justify-content: center;
       align-items: center;
       position: relative;
}
.container .header-container .sidenav {
       height: 100%;
       width: 0;
       position: fixed;
       z-index: 1;
       top: 0;
       left: 0;
       background-color: #111;
       overflow-x: hidden;
       transition: 0.5s;
       padding-top: 60px;
}
.sidenav .closebtn {
       position: absolute;
       top: 0;
       right: 25px;
       font-size: 36px;
       margin-left: 50px;
     }
.sidenav p,a {
       padding: 8px 8px 8px 32px;
       text-decoration: none;
       font-size: 1.5rem;
       color: #818181;
       display: block;
       transition: 0.3s;
}
.sidenav p:hover  {
       color: #ffffff;
       font-weight: 500;
}

.container .header-container .sidenav a :hover {
       color: #ffff;
}
.container .btn-nav {
       position: fixed;
       right: 6rem;
       font-size: 2rem;
}
.container .header-container .title {
       font-size: 2rem;
       font-weight: 500;
}
.container .main-page {
       display: flex;
}
.container .aside-left {
       width: 30%;
}
.container .aside-left .left-title {
       font-size: 1.4rem;
       padding: 2rem;
}
.container .location {
       width: 70%;
       margin-top: 2rem;
}
.container .location .create-post {
       display: flex;
       position: relative;
}
.container .location .list-title {
       font-size: 1.5rem;
       font-weight: 500;
       margin-bottom: 1rem;
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
}
.list-location {
       background-color: cornsilk;
       height: calc(100vh - 12rem);
       width: 90%;
}
.container .list-location {
       display: flex;
       padding: 2rem;
       border-radius: 0.5rem;
}




