.container{
       width: 100vw;
       height: 100vh;
       background-image: url('https://images.pexels.com/photos/374870/pexels-photo-374870.jpeg?cs=srgb&dl=pexels-burst-374870.jpg&fm=jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;         
}
.container .header-container {
       display: flex;
       height: 6rem;
       justify-content: center;
       align-items: center;
       position: relative;
}
.container .header-container .sidenav {
       height: 100%;
       width: 0;
       position: fixed;
       z-index: 1;
       top: 0;
       left: 0;
       background-color: rgb(75, 72, 72);
       overflow-x: hidden;
       transition: 0.5s;
       padding-top: 60px;
}
.sidenav .closebtn {
       position: absolute;
       top: 0;
       right: 25px;
       font-size: 36px;
       margin-left: 50px;
     }
.sidenav p,a {
       padding: 8px 8px 8px 32px;
       text-decoration: none;
       font-size: 1.5rem;
       color: #918f8f;
       display: block;
       transition: 0.3s;
       font-weight: 500;
}
.sidenav p:hover  {
       color: #ffffff;
       font-weight: 700;
}

.container .header-container .sidenav a :hover {
       color: #ffff;
}
.container .btn-nav {
       position: fixed;
       right: 6rem;
       font-size: 2rem;
}
.container .header-container .title {
       font-size: 2rem;
       font-weight: 700;
}
.container .main-page {
       display: flex;
}
.container .aside-left {
       width: 30%;
}
.container .aside-left .left-title {
       font-size: 1.4rem;
       padding: 2rem;
}
.container .aside-right {     
       margin-left: 2rem;
       width: 60%;
       background-color: white;
       height: 37rem;
       border-radius: 1rem;
}
.container .aside-right .header-right {
       position: relative;
       height: 2rem;
       display: flex;
       justify-content: space-between;
}
.container .aside-right .header-right .col-select {
       position: absolute;
       top: 1.5rem;
       right: 2rem;
}
.container .aside-right .header-right .col-select select {
       font-size: 1rem;
       font-weight: 600;
}
.container .aside-right .list-item {
       overflow-y: auto;
       margin: 2rem 2rem 1rem ;
       width: 95%;
       height: 80%;
}
select {
       outline: none;
}
.container .aside-right .header-right button {
       margin: 1rem 3rem;
       border: none;
       background-color: white;
       font-size: 1.2rem;
       font-weight: 600;
}
.container .aside-right .header-right button:hover {
       color: rgb(52, 145, 122);
}
.container .aside-right .item {
       position: relative;
       display: flex;
       height: 7rem;
       margin: 1rem;
}
.container .aside-right .item .short-description {
       position: absolute;
       left: 13rem;
}
.container .aside-right .item .item-title {
       font-weight: 600;
       font-size: 1.2rem;
}
.container .aside-right .item .author {
       font-weight: 600;
}
.container .aside-right .item img{
       max-width: 12rem;
       height: 7rem;
       width: auto;
       border-radius: 0.25rem;
}









