.container {
       width: 100vw;
       height: 100vh;
       background-image: url('https://images.pexels.com/photos/374870/pexels-photo-374870.jpeg?cs=srgb&dl=pexels-burst-374870.jpg&fm=jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;      
}
.container .header-container {
       display: flex;
       height: 5rem;
       justify-content: center;
       align-items: center;
       position: relative;
}
.container .header-container .title {
       font-size: 2rem;
       font-weight: 500;
}
.container .header-container .icon-user  {
       font-size: 2rem;
       position: fixed;
       right: 5rem;
}
.container .main-page {
       display: flex;
}
.container .aside-left {
       width: 30%;
}
.container .aside-left .left-title {
       font-size: 1.5rem;
       padding: 2rem;
}
.container .location {
       width: 70%;
       margin-top: 1rem;
}
.container .location .list-title {
       font-size: 1.5rem;
       font-weight: 500;
       margin-bottom: 1rem;
       display: flex;
       justify-content: center;
       align-items: center;
}
.list-location {
       background-color: cornsilk;
       height: calc(100vh - 10rem);
       width: 90%;
}
.dropdown {
       position: relative;

}
.dropdown-content {
       position: absolute;
       display: none;
       font-size: 1rem;
       width: max-content;
}
.dropdown-content p {
       margin-top: 0.5rem;
}
.dropdown:hover .dropdown-content {
       display: block;
}
.dropdown-content p:hover {
       color: cornsilk;
}
.container .list-location {
       display: flex;
       padding: 2rem;
       border-radius: 0.5rem;
}
.container .list-location .item {
       background: burlywood;
       width: 23%;
       height: 30%;
       border-radius: 0.4rem;
}
.container .list-location .item .img-item  {
       height: 80%;
       background: chocolate; 
}
.container .list-location .item .info-item {
       height: 20%;
}
 
