* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Roboto', sans-serif;
}
.btn  {
       background-color: #F9A826;
       width: 4rem;
       height: 2.25rem;
       border-radius: 5px;
       border: 1px solid #F9A826;
       font-weight: bold;
       padding: 0.5rem;
       transition: 0.2s;
}
.btn-auth {
       width: 5rem;
       height: 2.25rem;
       border-radius: 5px;
       background-color: #ff637c;
       border: 1px solid #ff637c;
       font-weight: bold;
       padding: 0.5rem;
       transition: 0.2s;
}

.btn:hover  {
       background-color: #f2f2f2;
}
.btn-auth:hover {
       background-color: #f2f2f2;
}
.input-wrapper input {
       font-size: 1rem;
       border-radius: 5px;
       border: 1px solid #ff637c;
       width: 100%;
       padding: 12px 10px;
       outline: none;
}
.input-wrapper {
       margin-bottom: 1rem;
}
.cursor-all{
       cursor: pointer;
}
.err {
       color: red;
       font-size: 0.9rem;
       padding: 2px 2px;
}
button {
       outline: none;
}
.btn-main {
       border-radius: 5px;
       border: 1px solid #ffff;
       width: max-content;
       height: 3rem;
       padding: 0.4rem;
       margin: 1rem;
       font-size: 1.2rem;
       transition: 0.3s;
}
.btn-main:hover {
       background-color: rgb(179, 206, 223);
}
.mg-bottom {
       margin-bottom: 1rem;
}
#style-scroll::-webkit-scrollbar {
       width: 0.7rem;
       background-color: white;
}
#style-scroll::-webkit-scrollbar-thumb {
       background-color: #a3a2a2;
       border-radius: 1rem
} 